body {
    font-family: 'Quattrocento', serif;
}

h1,
h2,
h3,
h4,
form {
    font-family: 'PT Sans Caption', sans-serif;
}

h3 {
    font-size: 1.2em;
}

p {
    font-family: 'Quattrocento', serif;
    font-size: 1.2em;
    line-height: 1.7em;
}

li {
    font-size: 1.3em;
}

.work-links {
    color: #000;
    margin-left: 10em;
    left: 10em;
    font-family: 'Arial', san-serif;
    font-size: 2em;
}


/*NAV
=========================*/

.navbar-brand {
    position: absolute;
    top: 1.3em;
    background: url("../img/CDS-logo.png") no-repeat;
    width: 200px;
    height: 57px;
}

.navbar-brand {
    margin-top: -.5em;
}

.navbar ul {
    font-family: 'Muli', sans-serif;
    font-size: .8em;
}


/*ABOUT
=========================*/

#about {
    margin: 4em 0 2.7em 0;
}

#about img {
    padding-bottom: 2em;
}

#about .name {
    margin: -2em 0 2.5em 0;
}


/*SKILLS
=========================*/

h4 {
    padding-top: 2em;
}

#skills {
    margin: 4em 0;
}

.line1 {
    margin: 5em 0 3em 0;
}

/*
ul {
    padding: 0 3em;
}
*/

li {
    line-height: 3em;
    list-style-type: none;
}

.text-center .btn-primary {
    margin: -2em 0 2em 0;
}

#skills .btn-primary {
    margin: 1em 0 3em 0;
    color: #fff;
    background: #d1003e;
    width: 13em;
}

#skills .btn-primary:hover {
    border: solid 1px #d1003e;
    background: #fff;
    color: #d1003e;
}


/*WORK
=========================*/

#references .title {
    margin-top: -2em;
}

.line2 {
    margin-top: 3em;
}

#references-masonry {
    margin: 0 auto;
}


/*CONTACT
=========================*/

#contact {
    margin-top: 2em;
}

#contact .title {
    margin-top: -.1em;
}

#contact .btn-primary {
    margin: 2em 0;
    background: #d1003e;
    color: #fff;
    width: 13em;
}

#contact .btn-primary:hover {
    border: solid 1px #d1003e;
    background: #fff;
    color: #eb5a51;
}

.help-block,
.with-errors {
    font-size: .7em;
    text-align: left;
}

.alert-success {
    background-color: #fcf3f3;
    border: #fcf3f3;
    color: #666;
    background-image: none;
    filter: none;
    background-repeat: none;
}


/*FOOTER
=========================*/

.rights {
    font-size: .8em;
    opacity: .3;
}

#footer p.social a.gplus {
    background-color: #c21f25;
}

#footer p.social a.linkedin {
    background-color: #0177b5;
}

#footer p.social a.facebook {
    background-color: #4460ae;
}

#footer p.social a.email {
    background-color: #d1003e;
}

#footer p.social a.linkedin:hover,
#footer p.social a.facebook:hover,
#footer p.social a.gplus:hover,
#footer p.social a.email:hover {
    opacity: .8;
}


/*MEDIA QUERIES
=========================*/

@media screen and (max-width: 2500px) {
    #about p {
        padding: 0 5em;
    }
}

@media screen and (max-width: 1000px) {
    #about p {
        padding: 0 2em;
    }
}

@media screen and (max-width: 800px) {
    #about p {
        padding: 0 1em;
    }
}

@media screen and (max-width: 1199px) {

    /*this will affect anything under 1199px*/
    .navbar-brand {
        margin-left: 1em;
    }

    #footer {
        padding: auto 3em;
    }
}

@media screen and (max-width: 600px) {

    /*this will affect anything under 1199px*/
    h3 {
        line-height: 1.5em;
    }
}
